In [7]:
#!/usr/bin/python3
 
import pymysql
import pyforest
 
# 打开数据库连接
db = pymysql.connect(host='rm-bp1k4yv36bjl32a2yso.mysql.rds.aliyuncs.com',
                     user='cke_qas_only',
                     password='ecmffX9FhFKG',
                     database='chenke_test')
 
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()
 
# 使用 execute()  方法执行 SQL 查询 
cursor.execute("SELECT VERSION()")
 
# 使用 fetchone() 方法获取单条数据.
#data = cursor.fetchone()
 
print ("Database version : %s " % data)

Database version : 5.6.16-log

In [19]:
 
# 使用预处理语句创建表
sql = """CREATE TABLE spaceX3 (
           Date DATE NULL,
                    Time TIME NULL,
                    BoosterVersion VARCHAR(50) NULL,
                    LaunchSite VARCHAR(50) NULL,
                    Payload VARCHAR(100) NULL,
                    PayloadMassKG INT NULL,
                    Orbit VARCHAR(50) NULL,
                    Customer VARCHAR(100) NULL,
                    MissionOutcome VARCHAR(50) NULL,
                    LandingOutcome VARCHAR(100) NULL )"""
 
cursor.execute(sql)

0

In [20]:
# read to see that data has been uploaded in database
sql = '''
        SELECT *
        FROM   SpaceX
        LIMIT 10
        '''
cursor.execute(sql)

10

In [21]:
# output postgre query in pandas dataframe
spacex = create_pandas_df(read_, database=conn)
spacex.head(10)

NameError: name 'create_pandas_df' is not defined